NODE_ENV=development
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
DATABASE_URL="postgresql://fiamanillah:fiamanillah@localhost:5439/manage_project?schema=public"
MONGO_URI="mongodb://root:rootpassword@localhost:27017/audit_db?authSource=admin"
LOG_LEVEL=info
LOG_FILE_PATH=logs/worker.log

